* {
	font-family: 'Playfair Display', serif;
	margin: 0px;
}

*:active, *:focus { 
   outline:0 !important;
}

button:focus {
	outline: 0;
}

h1 {
	font-size: 26px;
	font-style: italic;
	font-weight: 600;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: #5c5b5e;
}

b {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

h4 {
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
}

::placeholder {
	font-family: 'Montserrat', sans-serif;
}

a, u {
    text-decoration: none !important;
}

.row {
	margin: 0px;
}

.header {
	height: 100px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: 100%;
}

#link_text {
	color: #00568b;
}

.dropdown-menu {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
}

#dropdown_exit {
	color: #00568b;
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.nav-item {
	margin-right: 20px;
}

.navbar {
	height: 100px;
	padding: 0px;
	padding-left: 114px;
    padding-right: 115px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(255,255,255,0.95);
}

.navbar:hover {
	background-color: white;
}

.navbar-brand {
	padding: 0px;
	margin-right: 0px;
}

#header_logo {
	height: 100px;
}

.header_button{
	height: 25px;
	margin-top: 34px;
}

.header_text {
	color: #00568b;
	font-size: 20px;
	padding-top: 34px;
}

.header_contact_info {
	color: #fff;
	width: 157px;
    float: right;
	font-size: 20px;
    margin-top: 8px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #00568b;
    text-align: center;
    border-radius: 10px;
}

.body {
	background-color: #fff;
	position: relative;
	padding-bottom: 25px;
	padding-top: 100px;
}

.main_contact_form {
	display: none;
}

.sidebar {
	background-color: #fff;
	color: #00568b;
}

.sidebar_title {
	text-align: center;
	margin-top: 18px;
}

.vlog {
	margin: auto;
	padding-top: 15px;
}

.sidebar_video {
	width: 100%;
}

.post_title {
	font-size: 12px;
	text-align: justify;
}

.post_preview {
	font-size: 10px;
	text-align: justify;
}

.post_title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.post_preview:hover {
	text-decoration: underline;
	cursor: pointer;
}

#bottom_post_preview {
	margin-bottom: 1px;
}

#see_more_videos {
	width: 163px;
}

.contact_form {
	background-color: #00568b;
	text-align: center;
	height: 300px;
    border: solid #9a999e 1px;
    border-radius: 24px;
}

.search_box {
	background-color: #00568b;
	text-align: center;
	height: 50px;
    border: solid #9a999e 1px;
    border-radius: 24px;
    padding-top: 9px;
    width: 442px;
    margin: auto;
    margin-top: 20px;
}

.form_box_header {
	color: white;
	margin-top: 14px;
    margin-bottom: 15px;
}

.form_button {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	background-color: white;
	color: #9a999e;
	height: 37px;
	border: solid #9a999e 1px;
}

.form_button:hover {
	background-color: #9a999e;
	color: white;
	text-decoration: none;
	border: solid white 1px;
}

.form_button:focus {
	outline: 0;
}

.search_button {
	background-color: white;
	color: #9a999e;
	height: 29px;
	border: solid #9a999e 1px;
	margin-left: 21px;
}

.search_button:hover {
	background-color: #9a999e;
	color: white;
	text-decoration: none;
	border: solid white 1px;
}

.search_button:focus {
	outline: 0;
}

.input_box {
	border: solid #9a999e 1px;
	width: 80%;
	margin-bottom: 20px;
}

.search_input_box {
	border: solid #9a999e 1px;
	width: 274px;
}

.btn-primary {
	border: none;
}

#hear_from_clients {
	width: 229px;
}

.body_content {
	margin-left: 125px;
	margin-right: 125px;
}

.content {
	color: #00568b;
	background-color: #fff;
    border-right: solid #00568b 1px;
}

.main_header {
	text-align: left;
}

.content_heading {
	text-align: left;
}

.heading_description {
	text-align: left;
}

.hero_box {
	background-image: url(placeholder.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 300px;
}

.hero_text {
	color: white;
    opacity: .9;
    font-size: 46px;
    padding-top: 13%;
    text-align: center;
}

.wills_header_text_box {
	margin-top: 25px;
}

.will_validity {
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
}

.infographic {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 65%;
}

#contact_us_box{
	width: 50%;
    margin: auto;
}

.contact_box_container {
	text-align: center;
}

.contact_us_text {
	text-align: center;
}

.contact_box {
	background-color: #00568b;
    color: white !important;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 41px;
}

.question_box {
    padding-top: 9px;
    padding-bottom: 7px;
    width: 255px;
    border-radius: 22px;
}

.contact_box:hover {
	background-color: #e4e4e4;
	color: #00568b !important;
	cursor: pointer;
}

.witnesses_section {
	margin-top: 25px;
	padding-right: 100px;
	text-align: left;
}

.witness_qualifications {
	list-style-type: square;
}

.internal_list_item {
	margin-top: -9px;
}

#generally_box {
	background-color: #00568b;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-top: 25px;
    margin-bottom: 25px;
   	width: 700px;
    height: 54px;
}

.succession_tip_box {
		background-color: #00568b;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-top: 25px;
    margin-bottom: 25px;
   	width: 700px;
    height: 54px;
}

#succession_process {
	height: 70px;
}

#mini_content {
	color: white;
}

.main_content_video {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#legacy_container {
	padding-left: 0px;
	padding-right: 0px;
}

.legacy_types {
	display: inline-flex;
	margin: auto;
	margin-top: 25px;
}

.general {
	margin-left: 25px;
	margin-right: 25px;
}

.legacy_text {
	text-align: justify;
}

.get_help_box {
	width: 200px;
}

#universal_text {
	color: #13617b;
}

.lapse_item_main {
	text-decoration: underline;
}

.lapsing_list {
	list-style-type: square;
}

#second_video {
	margin-bottom: 0px;
}

.extinguishing_section {
	margin-top: 25px;
}

.revocation_section {
	margin-top: 25px;
}

.partial_revocation {
	margin-top: 25px;
}

.revocation_fun_fact {
	margin-top: 25px;
}

.general_rules {
	margin-top: 25px;
}

.intestacy_section {
	margin-top: 25px;
}

.footer {
	height: 100px;
	width: 100%;
	background-color: #00568b;
	text-align: center;
}

#footer_logo {
	height: 100px;
	width: 150px;
}

#footer_firm_name {
	color: white;
    padding-top: 2%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #00568b;
    padding: 6px 9px;				/*12px 16px;*/
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.full_blog_pull {
	text-align: center;
	padding-top: 100px;	
}

.main_blog_video {
	margin: auto;
}

.full_blog_headline {
	font-style: normal;
	margin-top: 25px;
}

.full_blog_text {
	text-align: justify;
	padding-left: 300px;
	padding-right: 300px;
}

.contact_column {
	padding-top: 24px;
}

.contact_info_list {
	padding-top: 30px;
}

#event_flyer {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

@media only screen and (max-width: 768px) {


#event_flyer {
	width: 98%;
}

.main_contact_form {
	display: block;
}

.navbar {
	height: 100px;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-brand {
	padding-left: 11px;
}

#navbarNavDropdown {
	position: absolute;
	color: #00568b;  
    margin-top: 107px;
    z-index: 10;
    background-color: rgba(255,255,255,0.96);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 62%;
    margin-left: 59px;
    padding-left: 10px;
}

#header_logo {
	margin-left: -15px;
}

.dropdown-menu {
	position: static;
	float: left !important;
	z-index: 100;
}

.header_contact_info {
	margin-right: 2px;
	color: #00568b;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	padding-right: 10px;
}

.body {
	margin-top: 0px;
}

.body_content {
	margin-left: 0px;
	margin-right: 0px;
}

.witnesses_section {
	padding-right: 0px;
}

#generally_box {
	width: 350px;
	height: 115px;
    padding-bottom: 0px;
    padding-right: 6px;
}

iframe {
	width: 100%;
}

.main_content_video {
	zoom: 60%;
}

* {
	text-align: justify;
}

.content {
    border-right: none;
}

.main_header {
	text-align: center;
}

.heading_description {
	text-align: justify;
}

.content_heading {
	text-align: center;
}

.question_box {
	width: 255px;
	font-size: 70%;
}

.main_content_video {
	zoom: 60%;
}

.extinguishing_header {
	text-align: center;
}

.revocation_header {
	text-align: center;
}

.general_rules_headline {
	text-align: center;
}

.sidebar_title {
	text-align: center;
}

.form_box_header {
	text-align: center;
}

#see_more_videos {
    width: 165px;
}

#hear_from_clients {
    width: 227px;
}

#footer_firm_name {
	text-align: center;
}

.footer {
    height: 54px;
}

#POA_hero_text {
	padding-top: 19%;
	text-shadow: 2px 2px 4px #000000;
}

#wills_hero_text {
	padding-top: 23%;
}

#successions_hero_text {
	padding-top: 23%;
}

.succesion_tip_box {
	width: 365px;
}

#succession_process {
	height: 117px;
}

#mini_content {
	width: 343px;
}


}